---
import { siteConfig } from '@data/site.config';

const year = new Date().getFullYear();
---

<footer class="site-footer" id="contacts">
  <p>© {year} {siteConfig.footer.copyrightOwner}</p>
</footer>
